.cards__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 21px;
  margin-top: 0;
  margin-bottom: 0;
}
.cards__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
}
