.header {
  display: flex;
  align-items: center;
  padding: 32 0 28px;
}
.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.header__add-clothes-btn {
  margin-left: auto;
  margin-right: 20px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  border: none;
}

.header__user-container {
  align-items: center;
  display: flex;
  gap: 12px;
}

.header__username {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
