.sidebar {
  display: flex;
  gap: 16px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
}

.sidebar__username {
  width: 157px;
  height: 25px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
}
