.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  background-color: white;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background-image: url("../../assets/Close\ Button.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  cursor: pointer;
  border: none;
  background: none;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__title {
  margin: 0;
  font: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 0 24px;
}

.modal__input {
  display: block;
}

.modal__radio-btns {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
}

.modal__label {
  font: 16px;
  font-weight: 700;
  line-height: 20px;
}

.modal__label.modal__label_type_radio {
  font: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 0 8px;
}

.modal__label.modal__label_type_radio:last-child {
  margin: 0 0 24px;
}

.modal__legend {
  margin: 0 0 12px;
  font: 16px;
  font-weight: 700;
  line-height: 20px;
}

.modal__input {
  margin: 0 0 24px;
  width: 440px;
  height: 52px;
  border-bottom: 1px solid #000000;
  border-top: none;
  border-left: none;
  border-right: none;

  font: 16px;
  font-weight: 400;
  line-height: 20px;
  box-sizing: border-box;
  width: 100%;
}

.modal__header {
  font: 16px;
  font-weight: 700;
  line-height: 20px;
}

.modal__radio-input {
  margin-right: 8px;
}

.modal__submit {
  width: 124px;
  height: 36px;
  opacity: 0.3;
  color: rgba(0, 0, 0, 0.3);
  padding: 0;
}
